{% extends 'form.html' %}
{% block rest %}
<h2>{% block title %}Lisää Pokémon tiedot{% endblock %}</h2>
<p>Nimi<br>
<input type="text" name="name">
<p>Ensisijainen tyypitys<br>
<input type="text" name="type1">
<p>Toissijainen tyypitys<br>
<input type="text" name="type2">
<table>
	<tr>
		<td>Health</td>
		<td><input type="number" name="health"></td>
	</tr>
	<tr>
		<td>Attack</td>
		<td><input type="number" name="attack"></td>
	</tr>
	<tr>
		<td>Defence</td>
		<td><input type="number" name="defence"></td>
	</tr>
	<tr>
		<td>Special Attack</td>
		<td><input type="number" name="spc_att"></td>
	</tr>
	<tr>
		<td>Special Defence</td>
		<td><input type="number" name="spc_def"></td>
	</tr>
	<tr>
		<td>Speed</td>
		<td><input type="number" name="speed"></td>
	</tr>
</table>
{% endblock %}
