{% extends 'form.html' %}
{% block rest %}
<h2>{% block title %}Lisää Pokémon tiedot{% endblock %}</h2>
<p>Nimi<br>
<input type="text" name="name" required>
<p>Useampi tyypitys
<input type="checkbox" name="many_types" value="yes">
<table>
	<tr>
		<td>Health</td>
		<td><input required type="number" name="health"></td>
	</tr>
	<tr>
		<td>Attack</td>
		<td><input required type="number" name="attack"></td>
	</tr>
	<tr>
		<td>Defence</td>
		<td><input required type="number" name="defence"></td>
	</tr>
	<tr>
		<td>Special Attack</td>
		<td><input required type="number" name="special_attack"></td>
	</tr>
	<tr>
		<td>Special Defence</td>
		<td><input required type="number" name="special_defence"></td>
	</tr>
	<tr>
		<td>Speed</td>
		<td><input required type="number" name="speed"></td>
	</tr>
</table>
{% endblock %}
